<form class="form-container" [formGroup]="form">
  <h4 class="title">Change Password</h4>
  <alte-input
    formControlName="password"
    type="password"
    label="password"
    placeholder="Enter your password"
  />
  <alte-alert
    *ngIf="
      form.get('password')?.touched &&
      form.get('password')?.hasError('required')
    "
    type="error"
    message="Password is
  required"
  />
  <alte-alert
    *ngIf="
      form.get('password')?.touched && form.get('password')?.hasError('pattern')
    "
    type="error"
    message="Password must contain at least 6 characters, 1 number, 1 uppercase and 1 lowercase letter"
  />

  <alte-input
    formControlName="confirmPassword"
    type="password"
    label="Confirm password"
    placeholder="Enter your password again"
  />

  <alte-alert
    *ngIf="form.touched && form.hasError('confirmPassword')"
    type="error"
    message="Passwords do not match"
  />
  <alte-button block (click)="submit()">Change Password</alte-button>
</form>
