<alte-auth-head
  title="Successful Order"
  backgroundColor="var( --semantic-red-r100)"
/>

<div class="container status">
  <div class="content">
    <img src="assets/images/success-order.png" alt="Successfull Order" />
    <div class="title">Oops! There was an issue</div>
    <div class="message">
      Oops! There was a problem processing your order. Please review the details
      and try again.
    </div>
    <button
      class="checkout__checkout"
      alte-button
      block
      routerLink="/profile/checkout"
    >
      Reorder
    </button>
  </div>
</div>
