.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0;
  thead {
    background-color: grey;
    color: black;

    th {
      padding: 10px;
      text-align: left;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: grey;
      }
      td {
        padding: 10px;
      }
    }
  }
}
