:host {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 16px 8px;
  width: 256px;
  height: 434px;

  .image img {
    width: 237px;
    height: 312px;
  }

  .title {
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    color: var(--neutral-black-b900);
  }

  .description {
    margin-top: 12px;
    display: flex;
    align-items: center;

    .stock {
      border: 1px solid var(--neutral-black-b100);
      border-radius: 100px;
      padding: 2px 16px;
      text-align: center;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 200%;
      color: var(--neutral-black-b900);
    }

    .price {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 175%;
      text-align: center;
      color: var(--neutral-black-b600);
      margin-left: 16px;
    }
  }
}
