.features {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  padding: 16px 12px;
  margin-top: 88px;
  margin-bottom: 48px;
}

.products {
  margin-top: 72px;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 80px;

    &__small {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 200%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--neutral-black-b300);
      transform: translateX(-30px);
    }

    &__big {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      color: var(--neutral-black-b900);
    }
  }

  .bestsellers {
    display: flex;
    justify-content: space-between;
  }
}
